@media screen and (min-width: 660px ) {
    body{
        margin: 0;
        padding: 0;
    background-color: rgb(249, 249, 249);
  }
  section .img{
    width:40%;
    max-width: 300px;
    display:inline;
    float: right;
  }
  section p {
    padding: 0;
    padding-top: 10px;

  }
  section .divsec{
    height: 250px;
    text-align: left;
    padding: 50px;

  }
  section #divflow{
    display: inline;
    float: left;

  }
  footer{
    height: 390px;
  }
  footer .logo{
    position: absolute;
  }
  footer #footinfo{
    display: inline-block;
    width:40%;
    max-width:320px;
  }
  footer #footlist{
    display: inline-block;
    text-align: center;
    width: 20%;
    max-width: 300px;
}
  footer #icons{
    display: inline-block;
    width: 20%;
  }
  footer > #icons > img{
    margin-bottom: 70%;
    width: 10%;
  }
}
@media screen and (min-width: 998px) {
    header{
        height:90vh;
    }
    header .logo{
        width:150px;
    }
    header div{
        text-align: left;
        width:32%;
        padding:50px 20px;
    }
    header div > .but{
        margin-left: 20px;
    }
    header >.img{
        position: absolute;
        width: 60%;
        max-width: 800px;
        top: 10%;
        right: 0%;       
    }
    section{
        height: 50vh;
        min-height: 350px;
        
    }
    section .img{
        max-width:350px;
    }
     #end{
        height: 150px;
        min-height: 150px;
     }
     ul{
        columns:2;
     }
     li{
        padding-bottom: 50px;
     }
     footer #footlist{
        width: 50%;
        max-width: 600px;
     }
     
    
    
    
}